
table.fixed {
  table-layout:fixed;
}
table.fixed td {
  overflow: hidden;
  height:100;
  border: 2px solid gray;
  text-align:center;
}

td.stats {
  vertical-align:top;
}

p.score {
  text-align:center;
  font-size: 1.5em;
  font-weight: bold;
}
p.score.user {
  color: blue;
}
p.score.opponent {
  color: green;
}

p {
  margin: .5em;
}
img.card {
    border: 1px solid black;
    margin: 2px 2px 2px 2px;
}
img.card.highlight {
    border: 5px solid yellow;
}

img.card.highlight.best {
    border: 5px solid green;
}

img.card.best {
    border: 5px solid red;
}
