{% extends "base.html" %}
{% block content %}

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            Cribbage <small id='game-phase'>Phase: {{ game_status['phase'] }}</small>
        </h1>
    </div>
</div>

<table class="fixed">
  <col width="60px" />
  <col width="400px" />
  <col width="90px" />
  <tr>
    <td>
      {% if game_status['dealer'] %}
      {% else %}
      <img id="dealer-p1" src="{{ url_for('static', filename='assets/dealer_button.png') }}">
      {% endif %}
    </td>
    <td>
      {% for card in game_status['hands'][0] %}
      <img src='{{ card[1] }}' class="{{ card_class }} card" id='{{ card[0] }}' height='70', width='50', border=2>
      {% endfor %}
    </td>
    <td class='stats'>
      <p>P1 Score</p>
      <p class='score user'>{{ game_status['scores'][0]}}</p>
    </td>
  </tr>
  <tr>
    <td></td>
    <td>
      {% for card in game_status['peg_phist']['0'] %}
        <img src='{{ card[1] }}' id='{{ card[0] }}' class='card' height='70', width='50', border=2>
      {% endfor %}
    </td>
    <td class='stats'>
      <!-- <p>Faceup</p> -->
      {% if game_status['faceup'] %}
        <img src='{{ game_status['faceup'][0][1] }}' class='card' height='70', width='50', border=2>
      {% endif %}
    </td>
  </tr>
  <tr>
    <td></td>
    <td>
      {% for card in game_status['peg_phist']['1'] %}
        <img src='{{ card[1] }}' id='{{ card[0] }}' class='card' height='70', width='50', border=2>
      {% endfor %}
    </td>
    <td class='stats'>
      <p>Peg Count</p>
      <p id='peg-count' class='score'>{{ game_status['peg_count']}}</p>
    </td>
  </tr>
  <tr>
    <td>
      {% if game_status['dealer'] %}
      <img id="dealer-p2" src="{{ url_for('static', filename='assets/dealer_button.png') }}">
      {% else %}
      {% endif %}
    </td>
    <td>
      {% for card in game_status['hands'][1] %}
      <img src='{{ card[1] }}' class='card' height='70', width='50', border=2>
      {% endfor %}
    </td>
    <td class='stats'>
      <p>P2 Score</p>
      <p class='score opponent'>{{ game_status['scores'][1]}}</p>
    </td>
  </tr>
</table>
<form id="card_acts" action="/index" method="POST" name="card_acts" onsubmit="return validate_form({{ cue['selection'] }}, {{ legal_moves }});">
{{ form.hidden_tag() }}
{{ form.discard_selection }}
<!-- {{ form.current_status }} -->
<p>{{ cue['cue'] }}</p>

<button id="submit-button" type="submit" form="card_acts">submit!</button>
<h5><a href='/reset'>Restart Game</a></h5>
<hr>
{{ true_status }}
<hr>
{{ mapping }}

<script type="text/javascript" src="{{ url_for('static', filename='js/core.js') }}"></script>

{% endblock %}
